nav{
  width: 100%;
  height: 100px;
  background-color: black;
  color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
  font-size: 20px;
}
.hero{
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(15, 18, 18);

}
.footer{
  width: 100%;
  height: 15vh;
  background-color: black;
  color: aliceblue ;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}