nav{
width: 100%;
height: 15vh;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  color: aliceblue;
}
ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
font-size: 20px;
}
.footer{
  width: 100%;
height: 15vh;
  background-color: rgb(93, 50, 50);
  display: flex;
  justify-content:center;
  align-items: center;
  font-size: 40px;
  color: rgb(224, 227, 230);
}
.home{
  width: 100%;
  height: 70vh;
  background-color: rgb(60, 46, 29);
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-size: 9vw;
  display: flex;
}
.contact{
  width: 100%;
  height: 70vh;
  background-color: rgb(166, 105, 31);
  justify-content: center;
  align-items: center;
  color: rgb(42, 44, 45);
  font-size: 9vw;
  display: flex;
}
.about{
  width: 100%;
  height: 70vh;
  background-color: rgb(11, 11, 11);
  justify-content: center;
  align-items: center;
  color: rgb(16, 141, 204);
  font-size: 9vw;
  display: flex;
}
a{
  text-decoration: none;
  color: aliceblue;
}
a.active{
  color: red;
}